body{
    margin: 50px;
    border: solid;
    padding: 50px;
    padding-top:0px;
    background-color: black;
}

.s{
    color:red;
    text-align: center;
}

.display
{
     text-align: center;
     color: red;
     padding: 10px;
}

h1
{
    color: red;
    text-align: center;
}

.b
{
    text-align: center;
    
}